body{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.home,.login,.about,.contact{
    margin: auto;
    width: 95vw;
    height : 80vh;
    margin: 40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}